body{
    text-align: center;
}
.card{
    background-color: pink;
    border-radius: 20px;
    border-top: 20px solid purple;
    border-bottom: 20px solid purple;
    margin: 20px 20px 20px 20px ;
}
#green{
    border: dashed 5px yellow;
    color: #ffff;
    background-color: green;
    padding: 60px 0 40px;
    margin: 30px;
}
#red{
    margin: 30px 30px 50px;
    color: #fff;
    background-color: red;
    padding: 20px 0 80px;
    width: 400px;
    border-right: 20px solid orange;
}
#blue{
    background: blue;
    width: 50%;
    padding-top: 5px;
    color: #ffff;
    border: dotted 8px black;
    margin: 0 30px 30px;
}

